/* Button styles */
.btn-custom {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1em; /* Adjust padding to suit the existing width and height */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    width: 12rem; /* equivalent to w-48 */
    height: 3rem; /* equivalent to h-12 */
  }
  
  .btn-custom:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn-custom:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-custom::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn-custom::after {
    background-color: #fff;
  }
  
  .btn-custom:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  